.link {
  display: block;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
}

.header-container {
  max-width: 320px;
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}


.logo__link {
  font-family: 'Raleway-SemiBold';
  font-size: 22px;
  color: $primary-aqua;
  text-transform: inherit;
}

.link-nav {
  font-family: 'OpenSans-Bold';
  font-size: 13px;
  color: $light-gray;
}

// burger-menu

.navigation__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.navigation__icon {
  display: block;
  position: relative;
  background: $dark-gray;
  width: 90%;
  height: 4px;
  transition: 0.4s;
}

.navigation__icon::after,
.navigation__icon::before {
  content: '';
  display: block;
  position: absolute;
  background: $dark-gray;
  width: 100%;
  height: 4px;
  transition: 0.4s;
}

.navigation__icon::after {
  top: 8px;
}

.navigation__icon::before {
  top: -8px;
}

.navigation__container-tablet {
  display: none;
}

.navigation__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  overflow: hidden;
  background-color: $primary-aqua;
}

.navigation__list {
  transition: 0.5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}

.navigation__item {
  font-size: 26px;
  padding-bottom: 15px;
}

.navigation__link {
  text-decoration: none;
  color: $dark-gray;
  font-size: 22px;
  &:hover {
    color: $dark-gray;
  }
}

.navigation__checkbox {
  display: none;
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
}

.navigation__checkbox:checked ~ .navigation__container {
  height: 100%;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon {
  background: transparent;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before,
.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
  top: 0;
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media screen and (min-width: 768px) {
  .header-container {
    max-width: 748px;
  }

  .navigation,
  .navigation__checkbox,
  .navigation__btn,
  .navigation__icon {
    display: none;
  }

  .navigation__container-tablet {
    display: flex;
  }

  .navigation__list-tablet {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .navigation__item-tablet {
    padding-right: 40px;
  }

  .navigation__link-tablet {
    line-height: 20px;
    cursor: pointer;
    &:hover {
      color: $dark-gray;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header-container {
    max-width: 1180px;
  }
}
