.sec-title {
  font-size: 28px;
  font-family: 'Raleway-Bold';
  color: $primary-aqua;
  font-weight: 700;
  line-height: 1.286;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}
